* {
  margin: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

:root {
  --white: #FFFFFF;
  --blue: #4C98CD;
  --blue-dark: #172554;
  --purple: #471756;
  --purple-100: #712682;
  --purple-200: #321040;
  --purple-300: #260932;
  --purple-border: #532463;
  --purple-border-bottom: #46134b;
}

.logo {
  width: 156px;
  max-width: 100%;
}

.people {
  width: 492px;
  max-width: 100%;
}

.primary {
  display: flex;
}

.container-infinity {
  width: 100%;
  color: var(--white);
  background: var(--blue);
  overflow: hidden;
  display: grid;
  position: absolute;
}

.infinity {
  white-space: nowrap; 
  animation: scrollText 50s infinite linear;
}

.infinity span {
  color: var(--primary);
  font-weight: bold;
}

.infinity span::after {
  content: " ";
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}