* {
  margin: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
}

:root {
  --white: #FFFFFF;
  --blue: #4C98CD;
  --blue-dark: #172554;
  --purple: #471756;
  --dark-purple: #260932;
  --light-purple: #712682;
}

.logo {
  width: 156px;
  max-width: 100%;
}

.people {
  width: 492px;
  max-width: 100%;
}

.primary {
  display: flex;
}

.padding-global {

}

.first-section {
}